.heading {
  display: flex;
  justify-content: center;
  margin: 100px;
  margin-top: 0;
}

.heading h1 {
  font-size: 80px;
}
.container-ss {
  margin-top: 0;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.ss-area {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
