.header {
  display: flex;
  margin: 140px 55px;
}

.dx-reach-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 77px;
}

.dx-reach-out a img:first-child {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.dx-middle-desc {
  display: flex;
  margin: -35px 90px;
  flex-direction: column;
}

.dx-middle-desc p {
  font-size: 75px;
  font-family: "Product Sans Bold";
}

.header .nav-tryDx {
  margin-top: 20px;
}

.dx-middle-desc p span {
  color: #3282b8;
}

.dx-support-nums {
  display: flex;
  margin-top: 100px;
  gap: 270px;
}

.dx-support-nums p span {
  font-size: 60px;
}

.dx-support-nums p {
  font-size: 25px;
}

.dx-glimpse {
  position: absolute;
  margin-top: -100px;
  right: 30px;
  width: 90px;
  height: 100px;
}

.dx-glimpse img {
  width: 300px;
  rotate: -30deg;
  border-radius: 10px;
}

.img1 {
  position: absolute;
  z-index: 0;
}

.img2 {
  position: absolute;
  top: 200px;
  right: -100px;
  z-index: -1;
}

.img3 {
  position: absolute;
  top: 400px;
  right: -10px;
  z-index: -2;
}
