.help-container {
  margin: 50px 110px;
}

.top-help {
  background-color: #fc6363;
  color: black;
  padding: 30px 70px;
  border-radius: 42px;
  margin-bottom: 20px;
}

.top-help p {
  font-size: 22px;
}

.caution h1,
.install-guide h1 {
  font-size: 40px;
  padding-bottom: 15px;
}

.caution li,
.install-guide li {
  margin-left: 20px;
  font-size: 20px;
  padding-bottom: 5px;
}

.install-guide h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

.top-bottom-left {
  display: flex;
  flex-direction: column;
}

.top-bottom-left .caution {
  padding: 20px 50px;
  border: 1px solid #fc6363;
  border-radius: 32px;
}

.install-guide {
  padding: 30px;
}

.bottom-help {
  display: flex;
  gap: 150px;
}

.top-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-bottom-right h1 {
  font-size: 40px;
}

.Collapsible {
  background-color: #414a4f;
  border-radius: 30px;
  padding: 30px;
  font-family: "Product Sans Bold";
  font-size: 20px;
}

/* .Collapsible__contentOuter {
    background-color: aqua;
} */

.Collapsible__contentInner {
  font-family: "Product Sans Light Regular";
  padding-top: 20px;
}
