.top-left h4 span {
  font-family: "Product Sans Bold Italic";
  @apply text-[#f2eba7];
}

.inner-container {
  @apply bg-[#233049] p-5 rounded-[20px];
}

.inner-container h1 {
  @apply text-4xl md:text-5xl pb-5;
  font-family: "Product Sans Bold";
}

.inner-container h3 {
  @apply text-[1.4rem] md:text-2xl;
  color: #cceef6;
}

.mission p {
  @apply text-2xl pb-5 text-[#f2eba7];
}

.mission h1 {
  @apply text-2xl md:text-4xl pb-5;
  font-family: "Product Sans Bold";
}

.mission h4 {
  @apply text-xl md:text-2xl pb-2;
  font-family: "Product Sans Light Regular";
}

.image-area::-webkit-scrollbar {
  display: none;
}
