/* .dn-container input {
  padding: 25px;
  width: 50%;
  outline: none;
  margin: 50px;
  font-size: 20px;
  color: whitesmoke;
  background-color: #414a4f;
  border-radius: 50px;
  border: 2px solid transparent;
} */

.db-card span {
  @apply text-[#81c1cf];
}

.db-card .active {
  @apply text-[#c5f982];
}

.db-card .discontinued {
  @apply text-[#fd8179];
}

.maintainer,
.version,
.status {
  @apply md:text-xl my-1;
}

.get-build,
.changelog {
  @apply flex rounded-full min-w-[280px] md:min-w-[350px] justify-center text-[#162025] bg-slate-200 mt-2 p-1 md:p-3;
}

.changelog {
  @apply bg-transparent border-2 border-white text-white;
}
