.stuck-Container {
  position: fixed;
  cursor: pointer;
  right: 30px;
  bottom: 30px;
  width: 217px;
  height: 65px;
  border-radius: 59px;
  background-image: linear-gradient(
    90deg,
    #5866ad 0%,
    #c362ad 50%,
    #e5a0a0 100%
  );
}

.inside-container {
  display: flex;
  width: 217px;
  height: 65px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contactUs {
  color: #fff;
  font-size: 23px;
  padding: 0px 30px 0px 15px;
}
