:root {
  font-family: "Product Sans Regular";

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b262c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
