@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Product Sans Regular";

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b262c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* added the below line cause some elements were using the same css property */
/* lazy loading doesnt load the css soo it weird */

.db-card {
  @apply flex flex-col md:p-10 bg-[#162025] rounded-[2.5rem] border border-[#414a4f];
}

.gridplease {
  @apply grid md:grid-cols-3 gap-7 md:gap-14 mt-10 md:mt-20 mb-11;
}

.top-help {
  @apply bg-[#fc6363] text-black py-7 px-6 md:px-16 rounded-[32px] mb-5;
}

.reachout {
  @apply flex gap-2 mt-2 items-center;
}

.Collapsible {
  @apply bg-[#414a4f] rounded-[30px] p-7 text-[1.3rem];
  font-family: "Product Sans Bold";
}

.Collapsible__contentInner {
  font-family: "Product Sans Light Regular";
  @apply pt-5;
}
